.Pages {
  .landing-page {
    @media(max-width: 767px) {
      padding: 0 20px;
      align-items: normal;
      text-align: center;
      .login-form, .sign-up-form {
        label {
          input {
            width: 100%;
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
.Movies {
  @media (min-width: 992px) {
    .movie-list {
      .list {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-column-gap: 5%;
        padding: 0 2.5%;
        .movie {
          .synopsis {
            height: 36px;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .Movies {
    .movie-details, .movie-list, .movie-form {
      padding: 0 5%;
    }
  }
}
.header {
  @media (max-width: 576px) {
    h2 {
      font-size: 20px;
    }
  }
  @media (max-width: 480px) {
    h2 {
      font-size: 18px;
    }
  }
}
.container {
  margin: auto;
  width: 100%;
  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}